/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pseudo-elements*/
:root{
    --hdr-height: 50px;
    --fter-height: 80px;
    --bg-color: #000;
    --fter-color: #222;
    --hdr-elements-color: #4a4a4a;
    /* maximun number of people per row, minimum is locked at 3 */
    --max-ppls-per-row: 7;
}

/* debug */
.debug .db-border{
    border: 2px dashed white;
}

/* generics */
html{
    font-size: 14px;
}

body{
    font-family: sans-serif;
    color: white;
}

/* utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}



/* HEADER */
header{
    background-color: var(--bg-color);
    height: var(--hdr-height);
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}

header > *{
    /* this selector selects both buttons on the header to style them */
    background-color: var(--hdr-elements-color);
    padding: .5rem;
    border-radius: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}



/* MAIN */
.wrapper{
    background-color: var(--bg-color);
    /* wrapper's height is 100viewportheight minus the headers and footer's heights combined,
    this should allow the desired behaviour */
    height: calc(100vh - var(--hdr-height) - var(--fter-height));
    width: 100%;
    overflow-y: auto;
    color: white;
    padding: 1rem;
}

.row{
    justify-content: center;
    row-gap: 2rem;
}

.col{
    max-width: calc(100% / var(--max-ppls-per-row));
    /* min-width prevents the flex items to "shrink to death" on little screens*/
    min-width: 275px;
    padding: 0 .5rem;
    position: relative;
}

.camview img{
    max-width: 100%;
    display: block;
}

.camview .camview-bar{
    position: absolute;
    /* left needs to account for .col's padding */
    left: .5rem;
    bottom: 0;
    padding: .5rem;
    background-color: rgba(74,74,74,.8);
}


/* FOOTER */
footer{
    background-color: var(--fter-color);
    height: var(--fter-height);
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
}

footer .button{
    /* this aligns footer's icons and thei respective text */
    text-align: center;
}

footer .fa-solid{
    /* this gives size to footer's icons and gives some room betweem them and text */
    font-size: 2rem;
    padding-bottom: .5rem;
}

footer .button .fa-share-from-square{
    color: lime;
}

footer .button.btn-with-more{
    /* this aligns the arrows with the icon for mic, camera and screenshare buttons*/
    display: flex;
    align-items: center;
}

footer .fa-angle-up{
    /* this controls the arrows size */
    font-size: .8rem;
    padding-left: 1rem;
}

footer .button{
    cursor: pointer;
    margin-right: 2rem;
}

footer .quit{
    background-color: var(--hdr-elements-color);
    color: red;
    line-height: var(--fter-height);
    padding: 0 20px;
}